/* Your CSS goes here */
#main {
    text-align: center;
    display: inline-block;
}

body {
    background-color: #000;
    color: #fff;
}

#close {
    position: absolute;
    top: 90px;
    right: 0;
    width: 64px;
    height: 64px;
    overflow: hidden;
    z-index: 1000;
}

#close img {
    width: 100%;
}

@media (min-width: 801px) {
    #close {
        top: 104px;
    }
}

#map {
    margin: auto;
    width: 400px;
    height: 375px;
    display: inline-block;
}

li {
    padding: 5px;
    list-style: none;
    text-align: left;
}

li:nth-child(even){
    background-color: #333;
}

#list-container {
    height: 375px;
    width: 390px;
    margin: 0;
    overflow-y: scroll;
    overflow-x: auto;
    clear: right;
}

#map-container{
    width: 50%;
    margin: 0;
    float: left;
}

#gpsMaskingIcon {
    display: none;
}